<div class="card">
    <h3 class="card-header">Login</h3>
    <form id="login-form" class="card-body">
        <label class="form-label" for="username-login">Username</label>
        <input type="text" id="username-login" autofocus="true" class="form-input"/>
        <button type="submit" class="button">Login</button>
        <a href="/signup" class="login-link">Sign up</a>
    </form>
</div>

<script src="/public/javascript/login.js"></script>