<div class="card">
    <h3 class="card-header">Sign up</h3>
    <form id="signup-form" class="form-label">
        <label for="username-signup" class="form-label">Username</label>
        <input type="text" id="username-signup" class="form-input">

        <label for="password-signup" class="form-label">Password</label>
        <input type="password" id="password-signup" class="forn-input"/>

        <button type="submit" class="button">Submit</button>
        <a href="/login" class="login-link">LOGIN</a>
    </form>
</div>

<script src="/public/javascript/signup.js"></script>